
@{
    ViewBag.Title = "Lista proyectos Asesor";
    Layout = "~/Views/Shared/_DashLayout.cshtml";
}

<div class="row">
    <div class="col" align="center">
        <h2>Listado de Proyectos</h2>
        <hr />
    </div>
</div>

<div class="row">
    <div class="col">
        <table id="Proyectos" class="table table-striped display" style="width:100%">
            <thead class="thead bg-gray-900 text-white">
                <tr>
                    <th>
                        #ID Proyecto
                    </th>
                    <th>
                        Empresa
                    </th>
                    <th>
                        Estado proyecto
                    </th>
                    <th>
                        Grupo
                    </th>
                    <th>
                        Bitacora
                    </th>
                    <th>
                        Archivo
                    </th>
                    <th>
                        Acciones
                    </th>
            </thead>
        </table>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="renderModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-gradient-dark text-white" align="center">
                <h5 class="modal-title" id="exampleModalLabel">Nuevo Agenda</h5>
                <button type="button" class="close text-danger" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="cuerpo">


            </div>
        </div>
    </div>
</div>


@section script{
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>

    <script src="~/Scripts/DatatablesCDN/dataTables.select.min.js"></script>
    <script src="~/Scripts/DatatablesCDN/dataTables.buttons.min.js"></script>
    <script src="~/Scripts/DatatablesCDN/jszip.min.js"></script>
    <script src="~/Scripts/DatatablesCDN/pdfmake.min.js"></script>
    <script src="~/Scripts/DatatablesCDN/vfs_fonts.js"></script>
    <script src="~/Scripts/DatatablesCDN/buttons.html5.min.js"></script>
    <script src="~/Scripts/DatatablesCDN/buttons.print.min.js"></script>
    <script src="~/Scripts/DatatablesCDN/buttons.colVis.min.js"></script>
    <script src="~/Scripts/DatatablesCDN/dataTables.jqueryui.min.js"></script>
    <script src="~/Scripts/DatatablesCDN/buttons.jqueryui.min.js"></script>

    <script>


        $(document).ready(function () {

            $("#Proyectos").DataTable({

                "ajax": {

                    "url": '@Url.Action("ListaProyectosAsesor","Proyectos")',
                    "type": "GET",
                    "datatype": "json"
                },


                "language": { "url": '//cdn.datatables.net/plug-ins/1.10.20/i18n/Spanish.json' },


                responsive: true,

                "columns": [
                    { "data": "id_proyecto" },
                    { "data": "empresa" },
                    { "data": "estado" },
                    { "data": "grupo" },
                    { "data": "bitacora" },
                    { "data": "archivo" },
                    {
                        "data": "BitPro", "render": function (data) {
                            var both = data.split("/")
                            return "<a  href='/Proyectos/DetallesProyectoLog/"+both[1]+"' class='btn  bg-gradient-warning text-white btn-circle' data-toggle='tooltip' data-placement='right' title='Detalles'><i class='fas fa-search'></i> "
                            + "<a   onclick='Create("+both[0]+")' data-toggle='modal' data-target='#renderModal' class='btn  bg-gradient-success text-white btn-circle' data-toggle='tooltip' data-placement='right' title='Registrar Bitacora'><i class='fas fa-plus'></i> "
                        }, "oderable": false
                    }

                ],

                    dom: 'Bfrtip',
                    buttons: [{
                        extend: 'print',
                        className: 'btn btn-info',
                        text: '<i class="fas fa-print"></i> Imprimir',
                        exportOptions: {
                    columns: ':visible'
                }
                    },
                        {
                        extend: 'excel',
                        className: 'btn btn-success',
                            text: '<i class="fas fa-file-excel"></i> Excel',
                        exportOptions: {
                    columns: ':visible'
                }
                    },
                        {
                        extend: 'pdf',
                        className: 'btn btn-danger',
                            text: '<i class="fas fa-file-pdf"></i> pdf',
                        exportOptions: {
                    columns: ':visible'
                }
                        },
                    {
                        extend: 'colvis',
                        className: 'btn btn-dark',
                        text: '<i class="fas fa-chevron-circle-down"></i>'
                    }
                ]

            });


        });


            function Create(id) {

                var url = "/Bitacoras/Registrarbitacora/"+id;

                $.ajax({
                    url: url,
                    type: 'GET',
                    cache: false,
                    success: function (result) {
                        $('#cuerpo').html(result);

                        $("#activar").on("click", function () {

                            $("#archivo").trigger("click");

                        });

                        $("#labelFile").on("click", function () {

                            $("#archivo").trigger("click");

                        });


                        $("#archivo").on("change", function () {

                            $("#labelFile").val($("#archivo").val());
                        });

                    }
                });
            }



    </script>


}



