@model IEnumerable<SoftwareFactory.Models.Grupos>

@{
    ViewBag.Title = "Listado Grupos";
    Layout = "~/Views/Shared/_DashLayout.cshtml";
    SoftwareFactory.Models.Grupos grupos = new SoftwareFactory.Models.Grupos();
}

<div class="row">
    <div class="col" align="center">
        <h2>Listado de Grupos</h2>
        <hr />
    </div>
</div>

<div class="row">
    <div class="col">
        <table id="grupos" class="table table-striped display" style="width:100%">
            <thead class="thead bg-gray-900 text-white">
                <tr>
                    <th>
                        #ID Grupo
                    </th>
                    <th>
                        ID Lider
                    </th>
                    <th>
                        Nombre Lider
                    </th>
                    <th>
                        Correo Lider
                    </th>
                    <th>
                        Descripcion
                    </th>
                    <th>
                        Acciones
                        <a data-toggle="modal" data-target="#modalCrearGrupo" class="btn-circle btn-sm bg-gradient-success text-white btn-circle ml-5" data-placement="right" title="Nuevo">
                            <i class="fas fa-users"></i>
                        </a>
                    </th>
            </thead>
        </table>
    </div>
</div>


@section script{
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>

    <script src="~/Scripts/DatatablesCDN/dataTables.select.min.js"></script>
    <script src="~/Scripts/DatatablesCDN/dataTables.buttons.min.js"></script>
    <script src="~/Scripts/DatatablesCDN/jszip.min.js"></script>
    <script src="~/Scripts/DatatablesCDN/pdfmake.min.js"></script>
    <script src="~/Scripts/DatatablesCDN/vfs_fonts.js"></script>
    <script src="~/Scripts/DatatablesCDN/buttons.html5.min.js"></script>
    <script src="~/Scripts/DatatablesCDN/buttons.print.min.js"></script>
    <script src="~/Scripts/DatatablesCDN/buttons.colVis.min.js"></script>
    <script src="~/Scripts/DatatablesCDN/dataTables.jqueryui.min.js"></script>
    <script src="~/Scripts/DatatablesCDN/buttons.jqueryui.min.js"></script>

    <script>


        $(document).ready(function () {

          $('#id_lider').chosen();
             $("#grupos").DataTable({

                "ajax": {

                    "url": '@Url.Action("ListaGrupos","Grupos")',
                    "type": "GET",
                    "datatype":"json"
                },


                "language": {"url":'//cdn.datatables.net/plug-ins/1.10.20/i18n/Spanish.json'},


                responsive: true,

                "columns": [
                    { "data":"id_grupo"},
                    { "data":"id_lider"},
                    { "data": "nombre"},
                    { "data": "correo" },
                    { "data": "descripcion" },
                    { "data": "id_grupo", "render": function (data) {
                        return "<a href='/Grupos/Edit/" + data + "' class='btn  bg-gradient-primary text-white btn-circle' data-toggle='tooltip' data-placement='right' title='Editar'><i class='fas fa-edit'></i> "
                            + "<a href='/Grupos/Details/" + data + "' class='btn  bg-gradient-warning text-white btn-circle' data-toggle='tooltip' data-placement='right' title='Detalles'><i class='fas fa-search'></i> "
                    }, "oderable": false
                    }

                ],

                    dom: 'Bfrtip',
                    buttons: [{
                        extend: 'print',
                        className: 'btn btn-info',
                        text: '<i class="fas fa-print"></i> Imprimir',
                        exportOptions: {
                    columns: ':visible'
                }
                    },
                        {
                        extend: 'excel',
                        className: 'btn btn-success',
                            text: '<i class="fas fa-file-excel"></i> Excel',
                        exportOptions: {
                    columns: ':visible'
                }
                    },
                        {
                        extend: 'pdf',
                        className: 'btn btn-danger',
                            text: '<i class="fas fa-file-pdf"></i> pdf',
                        exportOptions: {
                    columns: ':visible'
                }
                        },
                    {
                        extend: 'colvis',
                        className: 'btn btn-dark',
                        text: '<i class="fas fa-chevron-circle-down"></i>'
                    }
                ]

             });
        });



    </script>


}

<!-- Modal Create -->
<div class="modal fade" id="modalCrearGrupo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-gradient-dark text-white">
                <h5 class="modal-title" id="exampleModalLabel">Nuevo Grupo</h5>
                <button type="button" class="close text-danger" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.Partial("Create", grupos)

            </div>
        </div>
    </div>
</div>
